Repository voxpupuli/puppet-grafana, pull requests merged in 2018-07, with the labels that each got.

#118 Fix dependency in provisioning plugins
  manifests/config.pp
  manifests/init.pp
Labels: bug

#119 release 4.4.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#120 Feature: Add grafana provisioning to this module.
  README.md
  lib/puppet/functions/grafana/deep_find_and_remove.rb
  lib/puppet/functions/grafana/get_sub_paths.rb
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
  templates/pdashboards.yaml.epp
  templates/pdatasources.yaml.epp
Labels: enhancement

#123 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#124 release 4.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#129 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync

#128 Parametrize provisioning file names
  README.md
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  spec/acceptance/class_spec.rb
Labels: enhancement
