Repository voxpupuli/puppet-grafana, pull requests merged in 2018-10, with the labels that each got.

#136 removing value restriction on grafana_datasource so any custom plugin can be used
  lib/puppet/type/grafana_datasource.rb
  spec/unit/puppet/type/grafana_datasource_type_spec.rb
Labels: enhancement

#138 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#139 modulesync 2.2.0
  .msync.yml
  Gemfile
  spec/classes/coverage_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync
