Repository voxpupuli/puppet-grafana, pull requests merged in 2019-02, with the labels that each got.

#153 Fix #152 : multi arch send out a notice
  manifests/install.pp
Labels: bug

#148 Add a task for setting the admin user's password
  README.md
  tasks/change_grafana_admin_password.json
  tasks/change_grafana_admin_password.sh
Labels: enhancement

#154 modulesync 2.5.1 and drop Puppet 4
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  Gemfile
  README.md
  Rakefile
  metadata.json
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: backwards-incompatible

#155 Update repo_name Enum for new 'beta' repo
  manifests/init.pp
  manifests/install.pp
  spec/acceptance/class_spec.rb
Labels: bug

#158 release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
