Repository voxpupuli/puppet-grafana, pull requests merged in 2020-05, with the labels that each got.

#208 Add mechanism to make API changes once API is available
  lib/puppet/provider/grafana_conn_validator/net_http.rb
  lib/puppet/type/grafana_conn_validator.rb
  lib/puppet/type/grafana_dashboard.rb
  lib/puppet/type/grafana_datasource.rb
  lib/puppet/type/grafana_folder.rb
  lib/puppet/type/grafana_notification.rb
  lib/puppet/type/grafana_organization.rb
  lib/puppet/type/grafana_user.rb
  lib/puppet/util/grafana_conn_validator.rb
  manifests/validator.pp
  spec/acceptance/grafana_folder_spec.rb
  spec/acceptance/grafana_plugin_spec.rb
Labels: enhancement

#214 Clean up code, because params.pp has been removed
  manifests/service.pp
Labels: bug

#199 allow connecting to multiple LDAP services
  .rubocop.yml
  README.md
  data/common.yaml
  lib/puppet/type/grafana_ldap_config.rb
  lib/puppet/type/grafana_ldap_group_mapping.rb
  lib/puppet/type/grafana_ldap_server.rb
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  spec/classes/grafana_spec.rb
  spec/unit/puppet/type/grafana_ldap_config_spec.rb
  spec/unit/puppet/type/grafana_ldap_group_mapping_spec.rb
  spec/unit/puppet/type/grafana_ldap_server_spec.rb
Labels: enhancement, needs-work
