Repository voxpupuli/puppet-grafana, pull requests merged in 2021-08, with the labels that each got.

#246 Support only 6.x/7.x/8.x versions
  lib/puppet/provider/grafana_dashboard/grafana.rb
  spec/acceptance/class_spec.rb
  spec/acceptance/grafana_folder_spec.rb
  spec/acceptance/grafana_plugin_spec.rb
  spec/acceptance/grafana_team_spec.rb
  spec/acceptance/grafana_user_spec.rb
  spec/support/acceptance/prepare_host.rb
  spec/support/acceptance/supported_versions.rb
Labels: backwards-incompatible

#247 Modulesync 4.1.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#245 Update badges in README.md
  README.md
Labels: docs

#251 Release 9.0.0
  CHANGELOG.md
  README.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
