Repository voxpupuli/puppet-grafana, pull requests merged in 2021-01, with the labels that each got.

#225 Don't manage dashboard path when puppetsource is not set
  manifests/config.pp
  spec/classes/grafana_spec.rb
Labels: bug

#232 Drop Eol CentOS 6 support
  metadata.json
Labels: backwards-incompatible

#233 Drop EoL Debian 8 support
  metadata.json
Labels: backwards-incompatible

#224 Allow multiple puppetsource
  manifests/config.pp
Labels: enhancement

#226 Ensure all API types have grafana_conn_validator autorequires
  lib/puppet/type/grafana_dashboard_permission.rb
  lib/puppet/type/grafana_membership.rb
  lib/puppet/type/grafana_team.rb
  spec/grafana_dashboard_permission_type_spec.rb
  spec/grafana_membership_type_spec.rb
  spec/unit/puppet/type/grafana_dashboard_type_spec.rb
  spec/unit/puppet/type/grafana_folder_type_spec.rb
  spec/unit/puppet/type/grafana_organization_type_spec.rb
  spec/unit/puppet/type/grafana_team_type_spec.rb
  spec/unit/puppet/type/grafana_user_type_spec.rb
Labels: bug

#221 Mask/redact password and secure_json_data in grafana_datasource; require at least puppet 6.1.0
  lib/puppet/type/grafana_datasource.rb
  metadata.json
Labels: bug, merge-conflicts, merge-conflicts

#234 Enable Puppet 7 support
  metadata.json
Labels: enhancement
