Repository voxpupuli/puppet-grafana, pull requests merged in 2021-11, with the labels that each got.

#268 modulesync 4.3.0
  .github/workflows/ci.yml
  .msync.yml
  Gemfile
Labels: modulesync

#262 Drop support for Debian 9, Ubuntu 16.04 (EOL)
  metadata.json
Labels: backwards-incompatible

#267 Fix dashboard api call in grafana_dashboard
  README.md
  lib/puppet/provider/grafana_dashboard/grafana.rb
  spec/acceptance/grafana_folder_spec.rb
Labels: bug

#260 modulesync 5.1.0
  .msync.yml
  .puppet-lint.rc
  .sync.yml
  Gemfile
  Rakefile
  lib/puppet/functions/grafana/deep_find_and_remove.rb
  lib/puppet/functions/grafana/get_sub_paths.rb
  lib/puppet/provider/grafana.rb
  lib/puppet/provider/grafana_conn_validator/net_http.rb
  lib/puppet/provider/grafana_dashboard/grafana.rb
  lib/puppet/provider/grafana_dashboard_permission/grafana.rb
  lib/puppet/provider/grafana_datasource/grafana.rb
  lib/puppet/provider/grafana_folder/grafana.rb
  lib/puppet/provider/grafana_notification/grafana.rb
  lib/puppet/provider/grafana_organization/grafana.rb
  lib/puppet/provider/grafana_plugin/grafana_cli.rb
  lib/puppet/provider/grafana_team/grafana.rb
  lib/puppet/provider/grafana_user/grafana.rb
  lib/puppet/type/grafana_conn_validator.rb
  lib/puppet/type/grafana_dashboard.rb
  lib/puppet/type/grafana_datasource.rb
  lib/puppet/type/grafana_folder.rb
  lib/puppet/type/grafana_ldap_config.rb
  lib/puppet/type/grafana_ldap_group_mapping.rb
  lib/puppet/type/grafana_ldap_server.rb
  lib/puppet/type/grafana_notification.rb
  lib/puppet/type/grafana_organization.rb
  lib/puppet/type/grafana_plugin.rb
  lib/puppet/type/grafana_team.rb
  lib/puppet/type/grafana_user.rb
  lib/puppet/util/grafana_conn_validator.rb
  spec/acceptance/class_spec.rb
  spec/acceptance/grafana_folder_spec.rb
  spec/acceptance/grafana_plugin_spec.rb
  spec/acceptance/grafana_team_spec.rb
  spec/acceptance/grafana_user_spec.rb
  spec/classes/grafana_spec.rb
  spec/grafana_dashboard_permission_type_spec.rb
  spec/grafana_membership_type_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/support/acceptance/prepare_host.rb
  spec/support/acceptance/supported_versions.rb
  spec/unit/puppet/provider/grafana_plugin/grafana_cli_spec.rb
  spec/unit/puppet/type/grafana_dashboard_type_spec.rb
  spec/unit/puppet/type/grafana_datasource_type_spec.rb
  spec/unit/puppet/type/grafana_folder_type_spec.rb
  spec/unit/puppet/type/grafana_ldap_config_spec.rb
  spec/unit/puppet/type/grafana_ldap_group_mapping_spec.rb
  spec/unit/puppet/type/grafana_ldap_server_spec.rb
  spec/unit/puppet/type/grafana_notification_type_spec.rb
  spec/unit/puppet/type/grafana_organization_type_spec.rb
  spec/unit/puppet/type/grafana_plugin_spec.rb
  spec/unit/puppet/type/grafana_team_type_spec.rb
  spec/unit/puppet/type/grafana_user_type_spec.rb
Labels: modulesync

#269 Release 10.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#266 Add support for HTTP operation PATCH to fix grafana_membership
  lib/puppet/provider/grafana.rb
Labels: bug
