Repository voxpupuli/puppet-grafana, pull requests merged in 2022-08, with the labels that each got.

#277 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
  spec/setup_acceptance_node.pp
  spec/spec_helper.rb
Labels: modulesync

#291 Add support for custom repository URL
  data/common.yaml
  data/family/Debian.yaml
  data/family/RedHat.yaml
  manifests/init.pp
  manifests/install.pp
Labels: enhancement

#295 Release 11.0.0
  CHANGELOG.md
  REFERENCE.md
  manifests/init.pp
  metadata.json
Labels: skip-changelog
