Repository voxpupuli/puppet-grafana, pull requests merged in 2024-06, with the labels that each got.

#357 Drop EoL Debian 10 support
  metadata.json
Labels: backwards-incompatible

#358 Drop EoL Ubuntu 18.04 support
  metadata.json
  spec/setup_acceptance_node.pp
Labels: backwards-incompatible

#359 Drop EoL RedHat 7, CentOS 7 & 8 support
  metadata.json
Labels: backwards-incompatible

#356 modulesync 8.0.1
  .github/workflows/ci.yml
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  Gemfile
Labels: modulesync

#355 Add Grafana 11 as supported version
  spec/support/acceptance/supported_versions.rb
Labels: enhancement

#361 Drop support for EoL Grafana 8 & 9
  lib/puppet/provider/grafana_team/grafana.rb
  spec/acceptance/grafana_datasource_spec.rb
  spec/acceptance/grafana_team_spec.rb
  spec/classes/grafana_spec.rb
  spec/support/acceptance/supported_versions.rb
Labels: backwards-incompatible

#341 Add Debian 12 support
  metadata.json
Labels: enhancement

#365 modulesync 9.0.0
  .github/labeler.yml
  .msync.yml
  Gemfile
Labels: modulesync

#362 Create subpaths for provisioning_datasources
  REFERENCE.md
  data/family/FreeBSD.yaml
  manifests/config.pp
  manifests/init.pp
  spec/acceptance/class_spec.rb
  spec/classes/grafana_spec.rb
Labels: bug

#367 Add fact to get grafana version
  lib/facter/grafana_version.rb
  spec/facter/grafana_version_spec.rb
Labels: enhancement

#368 Release 14.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
